### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

# VS Code
.history/

# node
node_modules
bower_components

*.sublime*

psd
thumb
sketch

# coverage
coverage

*.md
!docs/**/*.md

# build
build/
dist/
config.bat
